@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Foldit:wght@300&family=Lobster&family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
}

.navbar{
    display: flex;
    background-color: aliceblue;
    top: 0;
    align-items: center;
    position: relative;
    /* position:sticky; */
    /* position: sticky; */
}

.navbar img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    border-radius: 50%;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    /* padding: 30px; */
    margin-left: 8vw;
    font-size: 1.5rem;
    /* margin-top: 3vh; */
    height: 8vh;
}

nav li{
    padding: 0 30px;
    transition: 0.3s ease;
}

nav li a{
    text-decoration: none;
}

nav li:hover{
    cursor: pointer;
    color: rgb(20, 118, 118);
    text-decoration: underline;
    margin-top: -5px; 
    margin-left: -5px; 
    padding: 15px 25px; 
    font-size: 18px; 
}

.hero{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    background-color: rgb(216, 234, 236);
    padding-top: 10vh;
    background-image: url(/Images/hero_bg_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-left{
    position: absolute;
    left: 8rem;
    top: 10rem;
}


.hero-right img{
    height: 400px;
    width: 700px;
    right: 6rem;
    top: 10rem;
    border: 2px solid gray;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px rgb(55, 59, 59);
}


.profile_pic{
    position: relative;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    margin-bottom: 20px;
    /* padding: 20px; */
    filter: grayscale(1);
    /* transition: all 1s; */
    animation: scaleImage 3s linear infinite
}

@keyframes scaleImage{
    0%{
        filter: grayscale(1);
        transform: scale(1);
    }

    50%{
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        filter:grayscale(1);
        transform: scale(1);
    }
}

.section1 img:hover{
    transition: 0.5s ease;
    transform: scale(1.2);
    cursor:pointer;
    text-align: center;
}

.name{
    font-size: 2.5rem;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Dancing Script', cursive;
/* font-family: 'Lobster', cursive; */
/* font-family: 'Pacifico', cursive; */
    padding-left: 10px;
    color: white;
}

.name:hover{
    transition: 0.5s ease;
    transform: scale(1.2);
    cursor:pointer;
}

.section2 h2{
    position:relative;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: aqua; */
    height: 200px;
    /* width: 50%; */
}

.section2{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* background-color: blanchedalmond; */
    height: 200px;
    width: 100%;
    padding: 50px 0px;
}

.section2{
    width: 100%;
    font-size: 2.2rem;
    margin: 5px;
    font-weight: 900;
    color: rgba(10, 222, 211, 0.777);
}

.role{
    font-size: 1.8rem;
}

.middle_text{
    font-size: 1.5rem;
    margin: 5px;
}

.description{
    font-size: 1.3rem;
    margin: 5px;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* height: 1000px; */
    background-color: rgba(61, 75, 81, 0.776);
}

.box{
    height: 500px;
    width: 450px;
    background-color: white;
    margin: 10PX;
    border-radius: 20px;

}

.box img{
    height: 500px;
    width: 450px;
    border: 4px solid black;
    border-radius: 20px;
}

.box img:hover{
    transition: 0.7s ease;
    transform: scale(1.04);
}

.about{
    display: flex;
    padding: 50px;
    justify-content: center;
    /* align-items: center; */
}

.about_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px 2px rgb(141, 137, 137);
    margin-right: 100px;
}

.about img:hover{
    transition: 0.7s ease;
    transform: scale(1.04);
}

.about-cont{
    width: 500px;
    font-size: 1.2rem;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.experience{
    margin-top: 10px;
}

.experience h1{
    text-decoration: underline; 

}

.skills{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills h2{
    text-decoration: underline;
    margin-bottom: 10px;
}

.skills ul li{
    font-size: 1.3rem;
}

.skills ul li span{
    font-weight: bold;
}

.projects{
    padding: 50px 0px 50px 0px;

}

.proj_head{
    text-align: center;
    font-size: 1.6rem;
    text-decoration: underline;
}

.proj-details{
    height: 120px;
}

.proj-title{
    height: 70px;
}

/* Project cards css starts */
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 10px;
  }

  .article-body p{
    font-size: 1.2rem;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
    font-size: 1.1rem;
    
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon-demo {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      /* display: none; */
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  /* Project Cards css ends  */

.my_self_title, .certificate_title{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: 5px;
    align-items: center;
    height:50px;
    background-color: rgb(209, 221, 222);
}

.my_self_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.my_self_details pre{
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 100%;
    height: 600px;
    background-color: rgba(183, 185, 185, 0.514);
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 60%;
    height: fit-content;
    margin: 30px;
    border: 2px solid black;
    transition: 0.5s ease;
}

.swiper-slide img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.swiper:hover{
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 1px 2px 10px 5px rgb(40, 54, 61);
}

.swiper-button-next,
.swiper-button-prev {
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* right:5px; */
    padding: 25px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}


.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(246, 246, 246);
    margin: 10px 30px;    
}

.logos img{
    height: 30px;
    width: 30px;
    margin: 0px 30px;
}

.logos img:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow: 2px 2px 10px rgb(211, 142, 142);
    border-radius: 50%;
}
footer{
    /* height: 300px; */
    background-color:rgba(244, 235, 235, 0.657);
    
}

.footer_portion{
    width: 100%;
    height: 400px;
    background-color: rgb(31, 30, 31);
    color: white;
    padding: 40px;
    /* align-self: start; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .contact_details {
    letter-spacing: 0.08rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 35px;
} */

.contact_details a{
    text-decoration: none;
    color: white;
}

.contact_details a:hover{
    text-decoration: underline;
    color: rgb(221, 128, 62);
    text-shadow: 2px 2px 10px;
}

.address pre{
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 12px
}

.copyright{
    background-color: white;
    color: black;
    text-align: center;    
}

.text{
    /* background-color: aliceblue; */
    width: 300px;
    height: 100%;
    padding: 10px;
}

.goto{
    /* background-color: blanchedalmond; */
    width: 300px;
    height: 100%;
    padding: 10px;
}

.goto p{
    cursor: pointer;
}

.goto p:hover{
    text-shadow: 2px 2px 10px;
}

.contact_details{
    /* background-color: brown; */
    width: 300px;
    height: 100%;
    padding: 10px;
}

.goto a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 800px) {
   .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .about-cont{
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
   }

   .about img{
    margin-right: 0px;
   }

   .hero-left{
    position: absolute;
    left: 2rem;
   }
   .skills{
    justify-content: flex-start;
   }
   .section2{
    margin: 0;
    font-weight: 1;
    font-size: 1.5rem;
   }
   .footer_portion{
    height: fit-content;
    flex-direction: column;
   }
   .hr{
    width: 100%;
   }
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
    position: fixed;
    left: -100%;
    top: 3rem;
    flex-direction: column;
    background-color: #fff;
    width: 34%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }

    nav ul{
    align-items: center;
    list-style: none;
    margin-left: 1vw;
    font-size: 1.5rem;
    height: fit-content;
    color: white;
    z-index: 45;
    }

    nav li{
        padding: 0 10px;
        transition: 0.3s ease;
    }

    .navbar img{
        position: initial;
    }

    .nav-item{
        margin: 1.1rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.details_self{
    width: 100%;
}










